USE [InsuranceConsulting]
GO
/****** Object:  Table [dbo].[ClientInsurances]    Script Date: 9/2/2026 0:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientInsurances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[InsuranceId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserCreated] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[UserModified] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientInsurances] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ClientInsurances]  WITH CHECK ADD  CONSTRAINT [FK_ClientInsurances_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[ClientInsurances] CHECK CONSTRAINT [FK_ClientInsurances_Client]
GO
ALTER TABLE [dbo].[ClientInsurances]  WITH CHECK ADD  CONSTRAINT [FK_ClientInsurances_Insurance] FOREIGN KEY([InsuranceId])
REFERENCES [dbo].[Insurances] ([Id])
GO
ALTER TABLE [dbo].[ClientInsurances] CHECK CONSTRAINT [FK_ClientInsurances_Insurance]
GO
